<div class="logo">
    <div class="logo-img"></div>
    <label for="">dbAccess</label>
</div>
<nav>
    <ul>
        <li class="cursorPointer"><a [routerLink]="['/categories']"><i class="fa fa-list-ul" aria-hidden="true"></i> Categorias</a></li>
        <li class="cursorPointer"><a [routerLink]="['/areas']"><i class="fa fa-sliders" aria-hidden="true"></i> Areas</a></li>
        <li class="cursorPointer"><a [routerLink]="['/courses']"><i class="fa fa-user" aria-hidden="true"></i> Cursos</a></li>
        <li class="cursorPointer"><a [routerLink]="['/instructores']"><i class="fa fa-users" aria-hidden="true"></i> Instructores</a></li>
        <li class="cursorPointer"><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i> Reportes</a></li>
    </ul>
</nav>
